@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
header {
  margin: 0%;
  padding: 10px;
  background: #9b9b9b;
}

form {
  padding: 30px;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  background: #b6b6b6;
  border-radius: 10px;
}

input {
  border-radius: 8px;
  margin-left: 2%;
  background: #dfdfdf;
  border: white;
}

section {
  padding: 20px;
  margin: 8%;
  background: #575656;
  border-radius: 10px;
  color: white;
}

button {
  border: white;
  padding: 1%;
  border-radius: 8px;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 400%;
  text-align: left;
  padding: 0%;
  margin-left: 2%;
  color: white;
}