@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
header {
  margin: 0%;
  padding: 10px;
  background:  #b6b6b6;
}

form {
  padding: 30px;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  background: #b6b6b6;
  border-radius: 4px;
  color: rgb(32, 32, 32);
}

input {
  border-radius: 4px;
  margin-left: 2%;
  background: #f5f5f5;
  border: none;
}

section {
  padding: 30px;
  margin-top: 4%;
  margin-left: 30%;
  margin-right: 30%;
  background: #7e7777;
  border-radius: 4px;
  color: white;
}

button {
  border: rgb(94, 93, 93);
  padding: 1.5%;
  border-radius: 2px;
  margin-top: 4%;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 400%;
  text-align: left;
  padding: 0%;
  margin-left: 2%;
  color: white;
}